* {
    padding: 0;
    margin: 0;
}
	body {
	font-family: 'AlibabaSans-Light';
   font-size: 100%;
}

@media screen and (max-width:1500px) {
    body{
        max-width: 1500px;
    }

    .main nav{
        display: flex;
        justify-content: space-between;
        margin: 0px auto;
    }
    .h1 img{
        width: 300px!important;
        margin-left: 20px;
    }
}
@media screen and (max-width:860px) {

    .h1 img{
        width: 250px!important;
        margin-left: 20px;

    }
}
@media screen and (max-width:768px) {
    .main{
        padding: 20px;
    }
    .h1 img{
        width: 200px!important;
        margin-left: 20px;

    }
}

.navitem{
    text-align: center;
}

.navitem a{
color: #333!important;
}

.navitem a:hover {
font-size: 30px;
font-weight: 800;
transition: all .3s;
color: rgb(82,161,194)!important;
}


@font-face {
	font-family: AlibabaSans-Light;
	src:url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.eot) format('embedded-opentype'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.otf) format('opentype'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.ttf) format('TrueType'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.woff) format('woff'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.woff2) format('woff2');
}
@font-face {
	font-family: Alibaba-PuHuiTi-Heavy;
	src:url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.eot) format('embedded-opentype'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.otf) format('opentype'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.ttf) format('TrueType'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.woff) format('woff'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.woff2) format('woff2');
}
a {
    text-decoration: none;
    color: rgb(82,161,194);
}

html {
    scroll-behavior: smooth;
}

.main {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;


}

.main nav {
    width: 100%;
    font-size: 20px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150px;
    transform-origin: top center;
    transform: scale(.8);
}

ul,
li {
    list-style: none;
}.kg {
     padding: 0 10px;
     margin: 0 20px -6px;
 }
.col4 {
	float: left;
    font-size: 0px;
	width: 100%;
}
.clear { clear:both;}.kg img {
	height: auto;
	width: 100%;
}
.about img {
	height: auto;
	width: 100%;
}
.about {
	text-align: center;
}

.main .hi .textbox .tit {
	font-weight: bold;
	font-size: 150px;
    font-family: Alibaba-PuHuiTi-Heavy;
}



