* {
    padding: 0;
    margin: 0;
}

	body {
	
	font-family: 'AlibabaSans-Light';
   font-size: 100%;
}
@font-face {
	font-family: AlibabaSans-Light;
	src:url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.eot) format('embedded-opentype'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.otf) format('opentype'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.ttf) format('TrueType'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.woff) format('woff'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaSans/AlibabaSans-Light/AlibabaSans-Light.woff2) format('woff2');
}
@font-face {
	font-family: Alibaba-PuHuiTi-Heavy;
	src:url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.eot) format('embedded-opentype'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.otf) format('opentype'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.ttf) format('TrueType'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.woff) format('woff'),
url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.woff2) format('woff2');
}
a {
    text-decoration: none;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

.main {
    width: 1500px;
    margin: 0 auto;
}

.main nav {
    width: 100%;
    font-size: 20px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150px;
}

ul,
li {
    list-style: none;
}.kg {
	margin: 20px;
	padding: 10px;
}
.col4 {
	float: left;
	width: 100%;
}
.clear { clear:both;}.kg img {
	height: auto;
	width: 100%;
}
.about img {
	height: auto;
	width: 40%;
}
.about {
	text-align: center;
}
.main .hi .textbox .tit {
	font-weight: bold;
	font-size: 150px;
    font-family: Alibaba-PuHuiTi-Heavy;
}
.navitem:hover {
    font-size: 30px;
}
